<h1 mat-dialog-title class="text-3xl font-bold text-center mb-6" color="primary">Edit Protocole</h1>
<div mat-dialog-content class="space-y-5">
  <form class="space-y-6">
    <mat-form-field appearance="fill" class="w-full" style="width: 100%;">
      <mat-label>Protocole Name</mat-label>
      <input matInput [(ngModel)]="data.nomprotocole" name="nomprotocole" class="text-gray-800 w-full">
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full" style="width: 100%;">
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="data.description" name="description" class="text-gray-800 w-full">
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full" style="width: 100%;">
      <mat-label>Version</mat-label>
      <input matInput [(ngModel)]="data.version" name="version" class="text-gray-800 w-full">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="flex justify-between items-center mx-4 mb-4">
  <button mat-stroked-button color="warn" class="flex justify-center items-center" (click)="onNoClick()">
    <mat-icon>cancel</mat-icon> Cancel
  </button>
  <button mat-stroked-button color="primary" class="flex justify-center items-center" (click)="onSave()">
    <mat-icon>save_alt</mat-icon> Save
  </button>
</div>
