/* decoder.component.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  position: relative; /* Ensure vertical scrolling */
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;

  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Allow vertical scrolling within the container */
  height: calc(100vh - 40px); /* Adjust to fit the view height */
}

h1 {
  text-align: center;
  color: #333;
}

.hex-input {
  width: 100%;
  margin-bottom: 20px;
}

button {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 20px auto;
}

.decoded-message {
  margin-top: 20px;
  overflow-x: auto; /* Allows horizontal scrolling if the table is too wide */
}

.decoded-message h2 {
  text-align: center;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #3f51b5;
  color: white;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
