<div class="container p-4 bg-gray-800 rounded-md">
  <mat-card class="bg-gray-700 text-white">
    <mat-card-header>
      <mat-card-title class="aligned-title" style="margin-bottom: 10px">
        <button mat-stroked-button class="btn2" color="primary" (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        Data Element No.{{elementnumber}}:
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="mat-elevation-z8 overflow-auto" style="max-height: 400px;">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef class="text-gray-400"> Position </th>
            <td mat-cell *matCellDef="let element; let i = index" class="text-white">
              {{shouldDisplay(i, 'position') ? element.position : ''}}
            </td>
          </ng-container>

          <!-- Description P Column -->
          <ng-container matColumnDef="description_p">
            <th mat-header-cell *matHeaderCellDef class="text-gray-400"> Description P </th>
            <td mat-cell *matCellDef="let element; let i = index" class="text-white">
              {{shouldDisplay(i, 'description_p') ? element.description_p : ''}}
            </td>
          </ng-container>

          <!-- Code Column -->
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef class="text-gray-400"> Code </th>
            <td mat-cell *matCellDef="let element; let i = index" class="text-white">
              {{element.code}}
            </td>
          </ng-container>

          <!-- Description C Column -->
          <ng-container matColumnDef="description_c">
            <th mat-header-cell *matHeaderCellDef class="text-gray-400"> Description C </th>
            <td mat-cell *matCellDef="let element; let i = index" class="text-white">
              {{element.description_c}}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
